.menu-title {
    text-transform: uppercase;
    font-size: 35px;
    writing-mode: vertical-rl;
    color: #fff;
}

.box {
    display: flex;
background-color: gray;
height: 800px;
width: 40px;
flex-direction: column;
justify-content: center;
}

.menu {
    width: 400px;
height: 800px;
position: relative;
/* overflow: hidden; */
outline: solid blue 3px;
}

.overlay {
    background-color: gray;
position: absolute;
width: 400px;
height: 800px;
top: 0;
left: 0;
padding-top: 80px;
padding-left: 60px;
transform: translatex(100%); 
display: flex;
outline: solid red 4px;
}

.box:hover + .overlay{
    transform: translatex(0);
    display: block;
    position: fixed;
}

.box:hover {
    width: 400px;
    height: 800px;
}

.overlay-list {
    display: flex;
flex-direction: column;
gap: 10px;
}

.overlay-link {
    text-transform: uppercase;
font-size: 25px;
color: #fff;
}

.overlay-link:hover {
    color: yellow;
    transition: 400ms;
}







